@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


:root{
    --primary-color:rgb(230, 83, 60);
    --secondary-color:rgb(255, 255, 255);
    --third-color:rgba(255, 255, 255, 0.5);
    --button-width: 224px;
    --button-height: 54px;
    --margin: 120px 10%;
}


body{
    background-color: black;
    margin: 0;
}


/* menu part start here  */
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    align-items: center;
}

.menu-bar{
    visibility: hidden;
}
nav ul{
    display: flex;
    font-style: ;
    list-style: none;
    gap: 47px;
    align-items: center;
    
}
nav ul li a{
   text-decoration: none;
   font-family: Inter;
font-size: 1rem;
font-weight: 400;
color: var(--secondary-color);
}

.logo{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 2.25rem;
font-weight: 800;

}
.home{
    background-color: var(--primary-color);
    border-radius: 46px;
    padding:8px 22px;
    font-family: Inter;
font-size: 1rem;
font-weight: 600;

}


/* menu part end here  */

/* banner start here  */

.banner{
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
}

.banner .container h1{
    color: var(--secondary-color);
    font-family: Inter;
font-size: 4.8rem;
font-weight: 900;
word-spacing: 5px;
}
.shape{
    font-family: Miama;
    font-size: 9rem;
    font-weight:initial;
    line-height: 0.5;
    
   
}
.banner .container p{
    color: var(--third-color);
    font-family: Inter;
font-size: 1rem;
font-weight: 400;
letter-spacing: 0.5px;
line-height: 1.30;
}
.container-div-1{
    position: relative;
    top: 15px;
    display: flex;
    gap: 20px;
    
}
.container-div-1 .button1{
    background-color: var(--primary-color);
    border-radius: 42px;
    font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
color: var(--secondary-color);
width: 224px;
height: 54px;
cursor: pointer;
border: none;
}
.container-div-1 .button2{
    background-color: black;
    border: 1px solid white;
    border-radius: 42px;
    
    font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
color: var(--secondary-color);
width: 224px;
height: 54px;
cursor: pointer;
}


.container2{
    width: 35%;
    height: 100%;
    position: relative;
}


.container2 img{
    position: relative;
    left: -30px;
}

.container2-div1{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 27px;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(15px);
background: rgba(255, 255, 255, 0.10);
margin-top: -170px;
margin-left: -155px;
position:absolute;
width: 170px;
height: 70px;
}

.circle{
    width: 40px;
height: 40px;
background-color: var(--primary-color);
border-radius: 50%;
}
.container2-div1 h3{
    color: var(--secondary-color);
    font-family: Inter;
font-size: 1.5rem;
font-weight: 900;
margin-top: -0.2px;
}

.container2-div1 p{
    color: var(--third-color);
   margin-top: -14px;
   font-family: Inter;
font-size: 1rem;
font-weight: 400;
}

.container2-div2{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 20px 27px;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(15px);
background: rgba(255, 255, 255, 0.10);
margin-top: -475px;
margin-left: 190px;
position: absolute;
width: 170px;
height: 70px;

}

.container2-div2 h3{
    color: var(--secondary-color);
    font-family: Inter;
font-size: 2.5rem;
font-weight: 900;
margin-top: -3px;

}
.container2-div2 p{
    color: var(--third-color);
   margin-top: -30px;
   font-family: Inter;
font-size: 0.81rem;
font-weight: 400;
letter-spacing: 1px;

}


/* banner section end here  */


/* section 1 start here  */

.section1{
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 120px;
}
.section1 >h1{
    color: var(--secondary-color);
    text-align: center;
    font-family: Inter;
font-size: 3rem;
font-weight: 900;

}

.section1 >p{
    color: var(--third-color);
    text-align: center;
    font-family: Inter;
font-size: 0.87rem;
font-weight: 400;
position: relative;
top: -5px;
}

.section1-div1{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 40px;
    
    
}

.section1-same-div img{
    border-radius: 50%;
   
   
}


.section1-same-div >h3{
    color: var(--secondary-color);
    font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
text-align: center;
}
.section1-same-div >p{
    color: var(--third-color);
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 1.5;
text-align: center;
}


/* section 1 end here  */


/* section 2 start here  */


.section2{
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
background: rgb(34, 34, 34);
}

.section2-div1 {
    
    padding-left: 54px;
    padding-bottom: 48px;
}
.section2-div1 h1{
    color: var(--secondary-color);
    font-family: Inter;
font-size: 3rem;
font-weight: 900;
}

.section2-div1 p{
    color: var(--third-color);
font-family: Inter;
font-size: 0.875rem;
font-weight: 400;
position: relative;
top: -10px;
}

.section2-div1 button{
    background-color: var(--primary-color);
    border-radius: 42px;
    font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
color: var(--secondary-color);
width: 224px;
height: 54px;
cursor: pointer;
border: none;
}


.section2-div2{
    width: 40%;
height: 340px;

}
.section2-div2 img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    top: 25px;
    position: relative;
    right: 25px;
    object-fit: none;
    object-position: 70% 31%;
    zoom: 80%;
}

/* section 2 end here  */